*{
    padding: 0;
    margin: 0;
}

body{
    padding: 50px;
    background-color:rgb(252, 174, 174);
}
.box{
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: black;
    width: 400px;
    background-color: white;
    margin-top: 25px

    
;
    padding: 20px;
}

.box:hover{
    border:1px solid black;
    transform: scale(1.05);
}

.box:active{
    transform: scale(0.95) rotate(1.7deg);
}

img{
    width: 300px;
    height: 200px;
    border-radius: 17px;
    margin:10px 0 ;
}

.gap{
    margin: 15px 0;
}

.btn{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn:hover{
    background-color: black;
    color: white;
}

p{
    font-weight: normal;
}

header{
    text-align: center;
}

.main-box{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttons{
    display: flex;
}



